@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: auto;
}

body {
  margin: 0;
  font-family: 'Inter', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
}